page-personal {
  .mvalue {

    float: right;


    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
.item>ion-icon,
.item-inner>ion-icon{
    min-height: 1.8rem;
    color:#888;
}
}