page-search {
  .hotlist {
    padding: 0px 16px;
    border-bottom: 10px solid #eee;

    p {
      overflow: hidden;
    }

    span {
      padding: .6rem 1rem;
      background: #eee;
      border-radius: .3rem;
      margin-right: 1rem;
      float: left;
      margin-bottom: 10px;
    }
  }

  .history {
    padding: 0px 16px;

    .list-ios[inset] {
      margin: 0px;
    }
  }

  .search_title {
    font-size: 2rem;
    font-weight: bold;
  }

  .sub_header {
    display: flex;
    height: 4rem;
    line-height: 4rem;
    // position: fixed;
    top: 0rem;
    z-index: 9;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;

    div {
      flex: 1;
    }
  }

  .list_content {
    // height: 100%;
    // overflow-y: auto;

    // .ionScroll {
    //   position: absolute;
    //   top: 46px;
    //   left: 0px;
    //   right: 0px;
    //   bottom: 0px;
    // }

    // ion-scroll .scroll-content {
    //   overflow-y: auto;
    //   background: #fff;
    // }
  }


  .list_content .list-ios {
    // height: calc(100% - 4rem);
    // overflow-y: auto;
    // position: absolute;
    // width: 100%;
    // margin-top: 4rem;
    // z-index: 2;
  }

  ion-infinite-scroll {
    // position: absolute;
    // bottom: 0px;
  }

  .list-ios>.item-block:first-child {
    border-top: 0px;
  }

  .list-ios .item-block .item-inner {
    border-bottom-color: #eee;
  }

  h3.mtitle {
    white-space: normal;
  }

  .red {
    color: red;
  }
}